<div class="footer">
	<div class="wrapper">
		<div class="footer-item">
			<div class="logo">L<span class="logo-highlight">o</span>go</div>
			<div class="footer-text">Lorem ipsum dolor sit amet, et aeterno nostrud sanctus qui, essent quodsi splendide per id. At eius dissentias mel, sed cu noluisse liberavisse.</div>
		</div>
		<div class="footer-item">
			<div class="footer-title">
				<span class="footer-title-text">Odkazy</span>
			</div>
			<div class="footer-buttons">
				<a href="#" class="footer-buttons-button">Odkaz</a>
				<a href="#" class="footer-buttons-button">Odkaz</a>
			</div>
		</div>
		<div class="footer-item">
			<div class="footer-title">
				<span class="footer-title-text">Odkazy</span>
			</div>
			<div class="footer-list">
				<div class="footer-list-item">Odkaz 01</div>
				<div class="footer-list-item">Odkaz 01</div>
				<div class="footer-list-item">Odkaz 01</div>
				<div class="footer-list-item">Odkaz 01</div>
			</div>
		</div>
	</div>
</div>