/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";


@font-face {
	font-family: 'LatoWebBold';
	src: url('../fonts/Lato-BoldItalic.eot');
	src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Lato-BoldItalic.woff') format('woff'),
		 url('../fonts/Lato-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'LatoWeb';
	src: url('../fonts/Lato-Italic.eot');
	src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Italic.woff2') format('woff2'),
		 url('../fonts/Lato-Italic.woff') format('woff'),
		 url('../fonts/Lato-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'LatoWebLight';
	src: url('../fonts/Lato-LightItalic.eot');
	src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-LightItalic.woff2') format('woff2'),
		 url('../fonts/Lato-LightItalic.woff') format('woff'),
		 url('../fonts/Lato-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

$color-main: #0474bc;
$color-white: #ffffff;
$color-black: #000000;

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	max-width: 1148px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.logo {
	font-family: 'LatoWebBold', sans-serif;
	color: $color-black;
	text-transform: uppercase;
	float: left;
	font-size: 27px;
	cursor: default;
	&-highlight {
		color: $color-main;
	}
}

.header {
	height: 80px;
	background-color: $color-white;
	line-height: 80px;
	.logo {
		margin-top: 2px;
	}
	&-menu {
		float: right;
		margin-top: 22px;
		font-family: 'LatoWebLight', sans-serif;
		&-item {
			float: left;
			display: inline-block;
			font-size: 20px;
			padding: 0 7px;
			margin: 0 17px;
			height: 36px;
			line-height: 38px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&:nth-child(2):hover ~ .header-menu-line {
				margin-left: 55%;
			}
		}
		.header-menu-line {
			height: 2px;
			width: 37%;
			margin: 0;
			background: #0475bc;
			border: none;
			transition: .3s ease-in-out;
			margin-top: 35px;
		}
	}
}

.hero {
	color: $color-white;
	height: 500px;
	line-height: 500px;
	font-size: 72px;
	font-family: 'LatoWebLight', sans-serif;
	text-align: center;
	cursor: default;
	box-shadow: inset 1px 4px 9px -6px $color-black;
	padding: 0 20px;

	background: $color-main;
	background: -moz-linear-gradient(left, $color-main 0%, #32b3ed 100%);
	background: -webkit-linear-gradient(left, $color-main 0%,#32b3ed 100%); 
	background: linear-gradient(to right, $color-main 0%,#32b3ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-main', endColorstr='#32b3ed',GradientType=1 );
	&-text {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.2em;
	}
}

.content {
	background-color: $color-white;
}

.title {
	background-color: #787878;
	height: 1px;
	max-width: 472px;
	width: 80%;
	margin: 110px auto 70px;
	font-size: 30px;
	font-family: 'LatoWebLight', sans-serif;
	text-align: center;
	&-anchor {
		overflow: hidden;
	}
	&-text {
		background-color: $color-white;
		padding: 0 50px;
		color: #797979;
		position: relative;
		top: -16px;
	}
}

.boxes {
	overflow: hidden;
	margin-top: 14px;
	display: flex;
	align-items: stetch;
	&-item {
		background-color: #dedede;
		color: $color-black;
		margin: 0 3%;
		width: 23.1%;
		padding: 3%;
		float: left;
		border-radius: 10px;
		font-size: 14px;
		line-height: 1.75;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.filter {
	overflow: hidden;
	&-buttons {
		overflow: hidden;
		text-align: center;
		&-button {
			display: inline-block;
			background-color: $color-white;
			border-radius: 3px;
			border: $color-main 1px solid;
			color: $color-main;
			margin: 0 14px;
			padding: 7px 0 8px;
			width: 123px;
			text-align: center;
			cursor: pointer;
			font-size: 16px;
			&._active, &:hover {
				background-color: $color-main;
				color: $color-white;
			}
		}
	}
	&-items {
		overflow: hidden;
		margin-top: 70px;
		&-item {
			display: block;
			float: left;
			width: 22.3%;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 1.7%;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&-img {
				width: 100%;
				height: 100%;
			}
			&-wrap {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
	}
}

.footer {
	background-color: #1a1a1a;
	color: #ffffff;
	padding: 40px 0 70px;
	margin-top: 156px;
	.logo {
		color: #ffffff;
		margin-bottom: 11px;
	}
	&-item {
		float: left;
		margin-right: 90px;
	}
	&-text {
		clear: both;
		width: 240px;
		font-size: 14px;
		line-height: 1.75;
	}
	&-title {
		width: 166px;
		font-size: 18px;
		text-transform: uppercase;
		padding: 7px 0 4px;
		border-bottom: $color-white 1px solid;
		margin-bottom: 17px;
		&-text {
			border-bottom: $color-main 1px solid;
			padding-bottom: 4px;
			padding-right: 8px;
		}
	}
	&-buttons {
		&-button {
			color: #777777;
			border: #777777 1px solid;
			width: 80px;
			text-align: center;
			height: 30px;
			line-height: 30px;
			float: left;
			margin-right: 20px;
			font-size: 14px;
			&:hover, &:active {
				color: $color-main;
				border: $color-main 1px solid;
			}
		}
	}
	&-list {
		color: #787878;
		font-family: 'LatoWebBold', sans-serif;
		font-size: 14px;
		margin-top: 30px;
		&-item {
			margin-bottom: 16px;
			padding-left: 15px;
			position: relative;
			&:before {
				position: absolute;
				content:"";
				top: 6px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				margin-left: -13px;
				width: 0; 
				height: 0; 
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 7px solid #787878;
			}
		}
	}
}

@media all and (max-width: 640px) {
	.boxes {
		flex-direction: column;
		&-item {
			width: 94%;
			margin: 3% 0;
		}
	}
	.filter-items-item {
		width: 46%;
		margin: 2%;
		&:first-child, &:last-child {
			margin: 2%;
		}
	}
	.footer {
		margin-top: 56px;
		padding: 40px 0 20px;
		&-item {
			float: left;
			margin-right: 90px;
			overflow: hidden;
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.hero {
		font-size: 44px;
		height: 400px;
		line-height: 400px;
	}
}

@media all and (max-width: 320px) {
	.filter-buttons-button {
		margin-bottom: 10px;
	}
}