/*
* Third Party
*/
@import "../../bower_components/normalize-css/normalize.css";

/*
* Custom
*/
//@import "partials/app";

.content {
	width: 1034px;
	height: 794px;
	position: relative;
	//background-image: url('http://image.prntscr.com/image/5992c83ad9574311a3cce21034df71df.png');
	background-image: url('http://image.prntscr.com/image/b4ef939651b34c0ab6d81e91979dca86.png');
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 auto;
}

.main-login {
	position: absolute;
	top: 0;
	right: 94px;
	width: 70px;
	height: 50px;
	cursor: pointer;
}

.modal {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 1;
	&._hidden {
		display: none;
	}
	&-bg {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #000000;
		opacity: 0.5;
	}
	&-wrapper {
		position: relative;
		z-index: 1;
		padding: 20px;
		background-color: #ffffff;
	}
	&-close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 13px;
		height: 13px;
		background-color: #333;
		border-radius: 50%;
		cursor: pointer;
		&:before, &:after {
			position: absolute;
			content: '';
			left: 6px;
			top: 2px;
			height: 9px;
			width: 1px;
			background-color: #ffffff;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			background-color: #444444;
		}
	}
}

.forms {
	&[state="isLogin"] {
		.form {
			&-login {
				display: block;
			}
			&-signup {
				display: none;
			}
			&-recover {
				display: none;
			}
		}
	}
	&[state="isSignup"] {
		.form {
			&-login {
				display: none;
			}
			&-signup {
				display: block;
			}
			&-recover {
				display: none;
			}
		}
	}
	&[state="isRecover"] {
		.form {
			&-login {
				display: none;
			}
			&-signup {
				display: none;
			}
			&-recover {
				display: block;
			}
		}
	}
}

.forms {
	width: 260px;
	margin: 0 auto;
	&.forms-main {
		padding-top: 100px;
	}
}

.form {
	&-header {
		text-align: center;
		color: #333333;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	&-input {
		margin-bottom: 20px;
	}
	&-submit {
		float: right;
		border: none;
		color: #ffffff;
		padding: 8px 30px;
		font-size: 14px;
		outline: none;
		font-weight: 600;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
	}
	&-text {
		font-size: 12px;
		margin: 10px 0;
		text-align: center;
	}
}

.overflow {
	overflow: hidden;
	margin-top: 20px;
}

.link {
	color: #4da9d4;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.input {
	border: #999999 2px solid;
	font-size: 14px;
	padding: 8px 8px;
	width: 100%;
	outline: none;
	box-sizing: border-box;
	&:focus, &:active {
		border: #222222 2px solid;
	}
	&:invalid:not(:focus):not(:placeholder-shown) {
		border: #a60000 2px solid;
	}
	&:invalid:focus:not(:placeholder-shown) {
		border: #a60000 2px solid;
	}
	&:valid {
		border: #222222 2px solid;
	}
}

.separator {
	width: 100%;
	height: 1px;
	background-color: #999999;
	text-align: center;
	margin: 20px 0;
	font-size: 12px;
	position: relative;
	&-inner {
		position: relative;
		top: -5px;
		padding: 0 8px;
		background-color: #ffffff;
	}
}


.button {
	&-toggle {
		color: #ffffff;
		font-weight: 600;
		text-align: center;
		line-height: 40px;
		border-radius: 4px;
		width: 100%;
		height: 40px;
		cursor: pointer;
	}
	&-login {
		background-color: #4da9d4;
		&:hover {
			background-color: #6fc1e7;
		}
		&:disabled {
			background-color: #6fc1e7;
			cursor: default;
		}
	}
	&-signup {
		background-color: #dc5126;
		&:hover {
			background-color: #e8663e;
		}
		&:disabled {
			background-color: #e8663e;
			cursor: default;
		}
	}
}